<!DOCTYPE html>
<html lang="en">
<head>
    {% load static custom_tags %}
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />

    <meta name="description" content="{{ dz_array.frontend.frontend_views.public.title }}" />
	<meta property="og:title" content="{{ dz_array.frontend.frontend_views.public.title }}" />
	<meta property="og:description" content="{{ dz_array.frontend.frontend_views.public.title }}" />
	<meta property="og:image" content="{{ dz_array.frontend.frontend_views.public.social_image_url }}" />
	<meta name="format-detection" content="telephone=no">
    <title>{{ dz_array.frontend.frontend_views.public.title }}</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static dz_array.frontend.frontend_views.public.favicon %}">

	<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">

    {% for cssurl in dz_array.frontend.frontend_views.pagelevel.css|getdata:request.path %}
    <link rel="stylesheet" href="{% static cssurl %}" >
    {% endfor %}

    {% for cssurl in dz_array.frontend.frontend_views.global.css %}
    <link rel="stylesheet" href="{% static cssurl %}">
    {% endfor %}
    
    {% block additional_css %}
    {% endblock %}

</head>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper" class="overflow-unset">
	
	
		<!--**********************************
            Header start
        ***********************************-->
        {% include 'frontend/elements/header.html' %}

        <!--**********************************
            Header end
        ***********************************-->
		
		
		<!--**********************************
            Sidebar start
        ***********************************-->
        {% include 'frontend/elements/sidebar.html' %}
        <!--**********************************
            Sidebar end
        ***********************************-->
		
		<!--**********************************
            Content body start
        ***********************************-->

        {% block content %}
        {% endblock %}
        <!--**********************************
            Content body end
        ***********************************-->

        <!--**********************************
            Footer start
        ***********************************-->
        {% include 'frontend/elements/footer.html' %}
        
        <!--**********************************
            Footer end
        ***********************************-->




    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
   
    {% for jsurl in dz_array.frontend.frontend_views.global.js.top %}
    <script src="{% static jsurl %}"></script>
    {% endfor %}
    
    {% for jsurl in dz_array.frontend.frontend_views.pagelevel.js|getdata:request.path %}
    <script src="{% static jsurl %}"></script>
    {% endfor %}
    
    {% for jsurl in dz_array.frontend.frontend_views.global.js.bottom %}
    <script src="{% static jsurl %}"></script>
    {% endfor %}
    
    {% block additional_js %}
    {% endblock %}
	
</body>
</html>