{% load static %}
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">

            {% if perms.users.view_customuser or perms.auth.view_group or perms.auth.view_permission %} 
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                <i class="flaticon-381-networking"></i>
                <span class="nav-text">Modules Demo</span>
                <span class="badge badge-xs badge-danger ms-1">New</span>
            </a>
            <ul aria-expanded="false">

                {% if perms.users.view_customuser or perms.users.change_customuser or perms.users.add_customuser or perms.users.delete_customuser %}
                <li><a href="{% url 'davur:users' %}">Users</a></li>
                {% endif %}
                {% if perms.auth.view_group or perms.auth.change_group or perms.auth.add_group or perms.auth.delete_group %}
                <li><a href="{% url 'davur:groups' %}">Groups</a></li>
                {% endif %}
                {% if perms.auth.view_permission or perms.auth.change_permission or perms.auth.add_permission or  perms.auth.delete_permission%}
                <li><a href="{% url 'davur:permissions' %}">Permissions</a></li>
                {% endif %}
            </ul>
        </li>
        {% endif %}

            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'davur:index' %}">Dashboard</a></li>
                    <li><a href="{% url 'davur:page-analytics' %}">Analytics</a></li>
                    <li><a href="{% url 'davur:page-review' %}">Review</a></li>
                    <li><a href="{% url 'davur:page-order' %}">Order</a></li>
                    <li><a href="{% url 'davur:page-order-list' %}">Order List</a></li>
                    <li><a href="{% url 'davur:page-general-customers' %}">General Customers</a></li>
                </ul>
            </li>

            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Frontend</span>
                   
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'frontend:front-home' %}">POS</a></li>
                    <li><a href="{% url 'frontend:front-authentication' %}">Authentication</a></li>
                    <li><a href="{% url 'frontend:front-booking' %}">Booking</a></li>
                    <li><a href="{% url 'frontend:front-food-items' %}">Food Items</a></li>
                    <li><a href="{% url 'frontend:front-orders-status' %}">Orders Status</a></li>
                    <li><a href="{% url 'frontend:front-people' %}">People</a></li>
                    <li><a href="{% url 'frontend:front-setting' %}">Setting</a></li>
                    <li><a href="{% url 'frontend:front-support' %}">Support</a></li>
                    <li><a href="{% url 'frontend:front-terms-conditions' %}">Terms & Conditions</a></li>
                    <li><a href="{% url 'frontend:front-transactions' %}">Transactions</a></li>
                    <li><a href="{% url 'frontend:front-upload-item' %}">Upload Item</a></li>
                    <li><a href="{% url 'frontend:front-wallet' %}">Wallet</a></li>
                    <li><a href="{% url 'frontend:front-login' %}">Login</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-television"></i>
                    <span class="nav-text">Apps</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'davur:app-profile' %}">Profile</a></li>
                    <li><a href="{% url 'davur:post-details' %}">Post Details</a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Email</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'davur:email-compose' %}">Compose</a></li>
                            <li><a href="{% url 'davur:email-inbox' %}">Inbox</a></li>
                            <li><a href="{% url 'davur:email-read' %}">Read</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'davur:app-calender' %}">Calendar</a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Shop</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'davur:ecom-product-grid' %}">Product Grid</a></li>
                            <li><a href="{% url 'davur:ecom-product-list' %}">Product List</a></li>
                            <li><a href="{% url 'davur:ecom-product-detail' %}">Product Details</a></li>
                            <li><a href="{% url 'davur:ecom-product-order' %}">Order</a></li>
                            <li><a href="{% url 'davur:ecom-checkout' %}">Checkout</a></li>
                            <li><a href="{% url 'davur:ecom-invoice' %}">Invoice</a></li>
                            <li><a href="{% url 'davur:ecom-customers' %}">Customers</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="copyright">
            <p><strong>Davur - Restaurant Admin Dashboard</strong> © 2022 All Rights Reserved</p>
            <p>Made with <span class="heart"></span> by DexignZone</p>
        </div>
    </div>
</div>