
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    {% load static custom_tags %}
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="description" content="{{ dz_array.davur.davur_views.public.title }}" />
	<meta property="og:title" content="{{ dz_array.davur.davur_views.public.title }}" />
	<meta property="og:description" content="{{ dz_array.davur.davur_views.public.title }}" />
	<meta property="og:image" content="{{ dz_array.davur.davur_views.public.social_image_url }}" />
	<meta name="format-detection" content="telephone=no">
    <title>{{ dz_array.davur.davur_views.public.title }}</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static dz_array.davur.davur_views.public.favicon %}">


    {% for cssurl in dz_array.davur.davur_views.pagelevel.css|getdata:request.path %}
    <link rel="stylesheet" href="{% static cssurl %}" >
    {% endfor %}

    {% for cssurl in dz_array.davur.davur_views.global.css %}
    <link rel="stylesheet" href="{% static cssurl %}">
    {% endfor %}
    
    {% block additional_css %}
    {% endblock %}








 
    
</head>

<body class="h-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-5">
                    <div class="form-input-content text-center error-page">
                        <h1 class="error-text font-weight-bold">400</h1>
                        <h4><i class="fa fa-thumbs-down text-danger"></i> Bad Request</h4>
                        <p>Your Request resulted in an error</p>
						<div>
                            <a class="btn btn-primary" href="{% url 'davur:index' %}">Back to Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!--**********************************
	Scripts
***********************************-->
<!-- Required vendors -->
{% for jsurl in dz_array.davur.davur_views.global.js.top %}
<script src="{% static jsurl %}"></script>
{% endfor %}

{% for jsurl in dz_array.davur.davur_views.pagelevel.js|getdata:request.path %}
<script src="{% static jsurl %}"></script>
{% endfor %}

{% for jsurl in dz_array.davur.davur_views.global.js.bottom %}
<script src="{% static jsurl %}"></script>
{% endfor %}

{% block additional_js %}
{% endblock %}





</html>